/*body p{
	font-family: 'Annie Use Your Telescope', cursive;
}*/


body p{
	font-family: 'ACaslon-Pro';
}

.section-zero .single-slide{
	display: flex!important;
	justify-content: center;
	align-self: center;
}
.section-zero .slide-content{
	align-self: center;
	text-align: center;
}

.slide-content p{
	font-family: 'Annie Use Your Telescope', cursive;
	color: #ffffff;
	font-size: 50px;
	text-transform: capitalize;
}

.slide-content h1{
	font-family: 'Annie Use Your Telescope', cursive;
	color: #ffffff;
	font-size: 170px;
	text-transform: capitalize;
	margin:10px;
}
.slide-button{
	width: 300px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Annie Use Your Telescope', cursive;
	background-color: #fba934;
	color: #ffffff;
	border:1px solid #fba934;
	height: 48px;
	display: block;
	text-align: center;
	border-radius: 18px;
	margin: 40px auto;
	text-decoration: none;
}
.slide-button:hover{
	color: #ffffff;
}
.section-zero .slides-navigation a.next{
	right: 30px;
}
.section-zero .slides-navigation a.prev{
	left: 30px;
}
.section-zero .slides-pagination{
	display: none;
}
.little-about-us{
	padding-top: 90px;
	/*width: 550px;*/
	
}

.section-one .container{
	padding-left: 200px;
}
.section-one .our-story{
	font-family: 'ACaslon-Pro';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #003f55;
	line-height: 18px;
}

.section-one .little-about-us-header{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 50px;
	color: #003f55;
	line-height: 56px;
	text-transform: capitalize;
	margin-bottom: 35px;
}

.little-about-us p{
	font-size: 17px;
	line-height: 23px;
	color: #003f55;
	padding: 12px 0px;
	letter-spacing: 0.4px;
}
a:hover{
	outline: 0 !important; 
	text-decoration: none !important;
}
.little-about-us a{
	width: 270px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Annie Use Your Telescope', cursive;
	color: #fba934;
	border:1px solid #fba934;
	height: 48px;
	display: block;
	text-align: center;
	border-radius: 18px;
	margin-top: 60px;
	margin-bottom: 60px;
	text-decoration: none; 
}
.little-about-us a:hover{
	color: #fba934;
}
.why-choose-us .single-block{
	text-align: center;
}

.why-choose-us{
	width: 980px;
}
.why-choose-us .single-block p{
	font-size: 17px;
	line-height: 23px;
	color: #003f55;
	padding: 12px 0px;
	letter-spacing: 0.4px;
}
.upper-container{
	float: right;
	width: 1330px;
	clear: both;
}
.lower-container{
	clear: both;
	float: left;
	width: 1555px;
}
.little-about-us-content{
	width: 550px;
	float: left;
}
.pool-img{
	width: 50%;
	float: left;
	margin-left: 70px;
}
.pool-img img{
	width: 100%;
}

.dog-img{
	margin-top: -360px;
	float: left
}
.why-choose-us{
	float: left;
	padding-left: 130px;
}

.section-two{
	background-image: url("images/blue-background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: -90px;
	position: relative;
	/*padding-bottom: 200px;*/
}
.section-two .facilities{
	font-family: 'ACaslon-Pro';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #003f55;
	line-height: 18px;
	text-align: right;
	padding-top: 120px;
}
.section-two .what-we-offer{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 50px;
	color: #003f55;
	line-height: 56px;
	text-transform: capitalize;
	margin-bottom: 35px;
	text-align: right;
}

.offer-blocks .cover{
	width: 100%;
}
.offer-blocks{
	position: relative !important;
	padding-top: 15px;
	padding-bottom: 15px;
}
.block-content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	justify-content: center;
    align-self: center;
    display: flex;
}

.block-content p{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 50px;
	color: #ffffff;
	line-height: 56px;
	text-transform: capitalize;
	
}
.block-content .content{
	text-align: center;
    align-self: center;
   
}
.bottom-cat{
	text-align: center;
}
.bottom-cat img{
	margin-bottom: -42px;
}

.section-three{
	background-color: #a04c88;
	padding-top: 190px;
	margin-top: -140px;
	
}
.section-three .the-pawfeet-journal{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 50px;
	color: #ffffff;
	line-height: 56px;
	text-transform: capitalize;
	margin-bottom: 35px;
	
}

/*.owl-theme .owl-nav [class*=owl-]{
	background: transparent !important;
}*/
.section-three .blog{
	font-family: 'ACaslon-Pro';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 18px;
}

.section-three .owl-carousel{
	display: block !important;
	position: relative;
}

.section-three .owl-prev{
	background: url(images/prev-arrow.png) !important;
	height: 46px;
	width: 46px;
	position: absolute;
	left: -60px;
	font-size: 0px !important;
}
.section-three .owl-next{
	background: url(images/next-arrow.png) !important;
	height: 46px;
	width: 46px;
	position: absolute;
	right: -60px;
	font-size: 0px !important;
}

.section-three .owl-theme .owl-nav{
	position: absolute;
	top: -webkit-calc(50% - 46px);  
	width: 100%;   
}
.blog-carousel .item{
	overflow: hidden;
}
.blog-carousel .read-more{
	background-color: #fbbe34;
	height: 0px;
	text-align: center;
	position: absolute;
	bottom: 0px;
    z-index: 100;
    width: 100%;
}
.blog-carousel .read-more a{
	color: #ffffff;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 30px;
	display: block;
    margin-top: 5px;
}
.blog-info-area{
	width: 100%;
	height: 240px;
	background-color: #ffffff;
	position: absolute;
	top: 0px;
	display: block;
	overflow: hidden;
}
.share-section{
	position: relative;
	top: -20px;
	float: right;
	right: -20px;
	width: 60px;
	border-radius: 50%;
	height: 60px;
	padding: 20px;
	z-index: 1000;
	background-color: #fbbe34;
}
.share-section:hover{
	box-shadow: 0px -3px 15px 2px #888888;
}
.pseudo{
	content: '';
	width: 100%;
	display: block;
	height: 50px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	top: 240px;
}
.fa{
	color: #003f55;
	font-size: 16px !important;
	position: relative;
}
.fa.fa-share-alt{
	position: absolute;
    top: 30px;
    right: 30px;
}
.share-logo{
	width: 30px;
	height: 30px;
	padding-top: 5px;
	border:1px solid #003f55;
	border-radius: 15px;
	text-align: center;
}
.sharing-icons{
	display: none;
}
.share-section .fa-facebook{
	top: 40px;
}
.share-section .fa-twitter{
	top: 75px;
	right: 30px;
}
.share-section .fa-envelope{
	    top: 96px;
    left: -35px;
}
.blog-carousel .owl-dots{
	display: none;
}

.view-all-blogs{
	width: 270px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Annie Use Your Telescope', cursive;
	color: #fba934;
	border:1px solid #fba934;
	height: 48px;
	display: block;
	text-align: center;
	border-radius: 18px;
	margin:60px auto;
	text-decoration: none; 
}
.view-all-blogs:hover{
	color: #fba934;
}
.blog-text-content{
	text-align: left;
	padding: 30px 20px;
}
.blog-text-content .date{
	font-size: 17px;
	line-height: 23px;
	color: #003f55;
	padding: 12px 0px;
	display: block;
	letter-spacing: 0.4px;
}
.blog-text-content .title{
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Annie Use Your Telescope', cursive;
	color: #003f55;
	margin:0px;
}

.blog-text-content .description{
	font-size: 17px;
	line-height: 23px;
	color: #003f55;
	padding: 40px 0px;
	letter-spacing: 0.4px;
}

.blog-carousel .item:hover{
	cursor: pointer;
}

.section-four{
	height: 982px;
	background-image: url(images/pink-background.png);
	background-size: 100% 100%;

}
.owl-carousel .owl-item img{
	width: initial !important;
}
.section-four .client-talks{
	font-family: 'ACaslon-Pro';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #003f55;
	line-height: 18px;
	text-align: right;
	padding-top: 120px;
}
.section-four .happy-customers{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 50px;
	color: #003f55;
	line-height: 56px;
	text-transform: capitalize;
	margin-bottom: 35px;
	text-align: right;
}
.upper-block{
	text-align: center;
}
.profile-pic{
	display: inline-block !important;
	border-radius: 50%;
	box-shadow:-20px 22px 28px 7px #dcd9d9;
}
.customer-data{
	display: inline-block;
}
.testimonial-carousel{
	width: 830px;
	margin:0 auto;
}
.section-four .owl-prev{
	background: url(images/prev-arrow.png) !important;
	height: 46px;
	width: 46px;
	font-size: 0px !important;
}
.section-four .owl-next{
	background: url(images/next-arrow.png) !important;
	height: 46px;
	width: 46px;
	font-size: 0px !important;
}
.section-four .owl-theme .owl-nav{
	position: absolute;
	width: 100%;
	text-align: center;
}
.section-four .owl-theme .owl-dots{
	display: none;
}

.testimonial-carousel .lower-block p{
	font-size: 17px;
	line-height: 23px;
	color: #003f55;
	padding: 55px 0px;
	width: 670px;
	text-align: center;
	margin: 0 auto;
	letter-spacing: 0.4px;
}
.upper-block .customer-data{
	padding-left: 25px;
	text-align: left;
}
.upper-block .customer-data .company{
	font-family: 'ACaslon-Pro';
	font-size: 17px;
	color: #003f55;
	font-style: italic;
	text-transform: capitalize;
}
.upper-block .customer-data .name{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 30px;
	color: #003f55;
	text-transform: capitalize;
}
.lower-block{
	position: relative;
}
.lower-block:after{
	content: '';
	background-image: url(images/close-quotes.png);
	width: 46px;
	height: 40px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.lower-block:before{
	content: '';
	background-image: url(images/open-quotes.png);
	width: 46px;
	height: 40px;
	position: absolute;
	top: 30px;
	left: 0px;
}
.section-five{
	background-color: #66c6e8;
	padding-bottom: 85px;
}

.section-five .the-pawfeet-journal{
	font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px;
    color: #ffffff;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 35px;
}
.section-five .blog{
	font-family: 'ACaslon-Pro';
    font-size: 12px;
    font-weight: 400;
    padding-top: 75px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 18px;
}

.facts-figures .facts-figures-block{
	text-align: center;
}
 .facts-figures-block .figure{
 	font-size: 70px;
 	color: #a04c88;
 	font-family: 'Annie Use Your Telescope', cursive;
 }
 .facts-figures-block .fact{
 	font-family: 'ACaslon-Pro';
    font-size: 28px;
    font-weight: 400;
    color: #fff;
 }
 .facts-figures-block .icon{
 	height: 100px;
 }
.section-six .left-block img{
	width: 100%;
}
.section-six .left-block{
	width: 45%;
	float: left;
}
.section-six .right-block{
	float: left;
	width: 55%;
	padding-top: 100px;
	padding-left: 100px;
}
.contact-block i, .contact-block p{
	display: inline-block;
}
.contact-block .fa{
	font-size: 40px !important;
	color: #003f55;
	border:1px solid #003f55;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding-top: 10px;
	text-align: center;
	margin-right: 20px;
}

.contact-block{
	cursor: pointer;
	margin: 20px 0;
}
.contact-block a{
	font-size: 40px;
 	color: #003f55;
 	display: inline-block;
 	font-family: 'Annie Use Your Telescope', cursive;
}
.contact-block p{
	font-size: 40px;
 	color: #003f55;
 	margin: 0px;
 	font-family: 'Annie Use Your Telescope', cursive;
}
.contact-us-button{
	width: 270px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fba934;
    border: 1px solid #fba934;
    height: 48px;
    display: block;
    text-align: center;
    border-radius: 18px;
    text-decoration: none;
}
.contact-us-button:visited,.contact-us-button:hover{
	color: #fba934;
}

.contact-description h1{
	font-size: 50px;
	font-family: 'Annie Use Your Telescope', cursive;
	color: #003f55;
	padding-top: 50px;
	text-transform: capitalize;
}

.contact-description p{
	font-family: 'ACaslon-Pro';
	font-size: 17px;
	font-weight: 400;
	color: #003f55;
	width: 520px;
	padding-bottom: 30px;
}
.section-seven{
	background-color: #a04c88;
}
.section-seven .facebook-block i,
.section-seven .facebook-block .title,
.section-seven .instagram-block i,
.section-seven .instagram-block .title{
	display: inline-block;
	color: #ffffff;
}
.section-seven .facebook-block i, .section-seven .instagram-block i{
	border:1px solid #ffffff;
	padding: 5px 10px 0px;
	border-radius: 5px;
	font-size: 30px !important;
}
.section-seven .facebook-block .title,.section-seven .instagram-block .title{
	padding-left: 10px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 30px;
	text-transform: capitalize;
}
.social-media-section {
	padding-top: 70px;
}
.section-seven .facebook-block .date,.section-seven .facebook-block .caption{
	font-family: 'ACaslon-Pro';
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
}
.section-seven .facebook-block .caption{
	margin-bottom: 30px;
}
.follow-us-fb{
	width: 270px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Annie Use Your Telescope', cursive;
	background-color: #fba934;
	color: #ffffff;
	border:1px solid #fba934;
	height: 48px;
	display: block;
	text-align: center;
	border-radius: 18px;
	margin: 40px 0;
	text-decoration: none;
}
.instagram-images{
	padding-top: 30px;
}
.instagram-images img{
	width: 50%;
	float: left;
	height: 213px;
	object-fit: cover;
}
.follow-us-instagram:hover{
	color: #fba934 !important;
}
.follow-us-instagram{
	width: 270px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Annie Use Your Telescope', cursive;
	color: #fba934;
	border:1px solid #fba934;
	height: 48px;
	display: inline-block;
	text-align: center;
	border-radius: 18px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-decoration: none !important;
}
.section-eight {
	background-image: url(images/footer-bg-image.png);
	background-size: cover;
	padding: 80px 0px 30px;
	background-repeat: no-repeat;
}
.newsletter-block h1{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 36px;
	color: #003f55;
	text-transform: capitalize;
}
.newsletter-block p{
	font-family: 'ACaslon-Pro';
	font-size: 17px;
	font-weight: 400;
	color: #003f55;
	padding-top: 5px;
}
.newsletter-block{
	width: 380px;
	float: left;
}
.email-address{
	width: 370px;
	border: 1px solid #033f55;
	border-radius: 25px;
	height: 50px;
	font-size: 17px;
	color: #003f55;
	font-family: 'ACaslon-Pro';
	padding-left: 30px;
	outline: 0px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #003f55;
  font-family: 'ACaslon-Pro';
font-size: 17px;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #003f55;
 font-family: 'ACaslon-Pro';
font-size: 17px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #003f55;
  font-family: 'ACaslon-Pro';
font-size: 17px;
}
:-moz-placeholder { /* Firefox 18- */
 color: #003f55;
 font-family: 'ACaslon-Pro';
font-size: 17px;
}
.newsletter-form{
	position: relative;
	padding-top: 10px;
}
.newsletter-form button{
	background:none;
	border:none;
	position: absolute;
	right: 5px;
	outline: 0px;
}

.social-media-icon .fa{
	color: #003f55;
    display: inline-block;
    border: 1px solid #003f55;
    text-align: center;
    font-size: 30px !important;
    border-radius: 50%;
    margin-right: 25px;
    padding-top: 9px;
    width: 50px;
    margin-top: 30px;
    height: 50px;
}

.quick-links{
	padding-left: 60px;
	float: left;
}
.right-links{
	padding-left: 100px;
}
.quick-links h1{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 36px;
	color: #003f55;
	text-transform: capitalize;
}
.left-links,.right-links{
	float: left;
}
.left-links a,.right-links a{
	display: block;
	color: #003f55;
 	font-family: 'ACaslon-Pro';
	font-size: 18px;
	margin-bottom: 60px;
	text-transform: uppercase;
}